<%= render 'shared/page_title',title: "showin all Diary"%>
<hr />

<% @diaries.each do |diary|%>
  <div class="row">
    <div class="col-md-2">
      <section class="user-info center">
        <%= gravatar_for(diary.user,size: 120)%>
      </section>
    </div>
    <div class="col-md-8 well">
      <h4><%= link_to diary.name.capitalize,diary_path(diary)%></h4>
      <p><%= truncate(diary.description,lenght:150)%></p>
      <p>
        <span class="quite"><small>Created<%= time_ago_in_words(diary.created_at)%>ago</small></span>
      </p>
    </div>
  </div>
<%end%>
