<%= render 'shared/page_title',title: "showin all Diary"%>
<hr />

<div align="center">
  <%=will_paginate%>
</div>
<% @diaries.each do |diary|%>
  <div class="row">
    <div class="col-md-2">
      <section class="user-info center">
        <%= gravatar_for(diary.user,size: 120)%>
      </section>
    </div>
    <div class="col-md-8 well">
      <h4><%= link_to diary.name.capitalize,diary_path(diary)%></h4>
      <p><%= truncate(diary.description,lenght:150)%></p>
      <p>
        <span class="quite"><small>Created <%= time_ago_in_words(diary.created_at)%> ago | by: <%=diary.user.name.capitalize%> | <%= pluralize(diary.comments.count , "comment")%></small></span>
      </p>
      <% if logged_in? && (current_user == diary.user || current_user.adminstrator?)%>
        <div class="recipe-actions">
          <%= link_to "Edit", edit_diary_path(diary),class: "btn btn-xs btn-warning"%>
          <%= link_to "Delete", diary_path(diary),method: :delete,
                                          data: { confirm: 'Are you sure?' },
                                          class:"btn btn-xs btn-danger"%>
        </div>
      <%end%> 
    </div>
  </div>
<%end%>

<div align="center">
  <%=will_paginate%>
</div>
