<%= render 'shared/page_title',title: @diary.name%>
<hr />

<div class="sell col-md-8 col-md-offset-2">
  <h4 class="center description"><strong>Diary:</strong></h4>
  <hr />
  <%= simple_format(@diary.description)%>
  <hr />
  <div class="pull-right">
    <p  class="center">
      <em>Created by :</em>
    </p>
    <p class="center"> 
      <%=link_to gravatar_for(@diary.user),diaries_path%>
    </p>
    <p class="center">
      <small><%= @diary.user.name.capitalize%></small>
      <div class="pull-right"><%= time_ago_in_words(@diary.created_at)%>ago</div>
    </p>
  </div>
  <div class="diary-actions">
    <% if logged_in? && (current_user == @diary.user || current_user.adminstrator?) %>
      <%= link_to "Edit",edit_diary_path(@diary),class:"btn btn-xs btn-warning"%>
      <%= link_to "Delete",diary_path(@diary),method: :delete ,data: {confirm: 'Are You Sure?'},class: "btn btn-xs btn-danger"%>
    <%end%>
    <%= link_to "Return",diaries_path,class:"btn btn-xs btn-primary"%>
  </div>
</div>

<% if logged_in?%>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Comments: </h3>
      <hr />
      <%= form_for([@diary , @comment] ,remote: true, :html => {class: "form-horizontal",role: "form"} ) do |f|%>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= f.label :description , "Comment"%>
          </div>
          <div class="col-md-8">
            <%= f.text_area :description , rows: 8 ,class: "form-control",placeholder: "Enter your comment!"%>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <%= f.submit "submit comment", class: "btn btn-primary btn-lg btn-xlarge"%>
          </div>
        </div>
      <%end%>
    </div>
  </div>
<%end%>

<% if @diary.comments != 0%>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      
      <div id="messages">
        <%= render partial: 'comments/comments',object: @comments%>
      </div>
    </div>
  </div>
<%else%>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3> No Comments Yet! </h3>
    </div>
  </div>
<%end%>
  